    #mynetwork {
      width: 600px;
      height: 400px;
      border: 1px solid lightgray;
      margin-bottom: 10px;
    }

    .main-container{
    	margin: 20px;
    }

    .add-remove{
    	margin:5px;
    }

    .valid{
    	border: 1px solid red;
    }

    .invalid{
    	border: 1px solid green;
    }